
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');



:root{
    --Yellow: hsl(47, 88%, 63%);

--White: hsl(0, 0%, 100%);

--Gray500: hsl(0, 0%, 42%);
--Gray950: hsl(0, 0%, 7%);

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}
body,html{
    width: 100%;
    height: 100%;
}
body{
    background: var(--Yellow);
}
main{
    width: 100%;
    height: 100%;
    font-family: "Figtree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--Yellow);
  
}

.container{
    max-width: 380px;
    width: 100%;
    max-height:500px;
    height: 100%;
    background: var(--White);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid black;
    box-shadow: 8px 10px black;
   
   
}

.top img{
    border-radius: 8px;
    width: 100%;
  
}

.first-p{
    background: var(--Yellow);
    padding: 6px 8px;
    font-weight: 800;
    width: fit-content;
    border-radius: 6px;
    color: var(--Gray950);
}

h2:hover{
  color: var(--Yellow);
}


.second{
    color: #00000093;
}

.last{
    display: flex;
    align-items: center;
    column-gap: 12px;
    font-weight: 800;
}

@media (max-width:460px) {
    
   main{
    padding: 40px;
  
   }

   /* img{
    width: 80%;
   } */
}
